<a href="https://colab.research.google.com/github/Liki990/Doc/blob/main/P_for_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
score = 70
if score >=90:
  print("Grade :A")
elif score >=80:
  print("Grade : B")
else:
  print("Grade is lower")

Grade is lower

In [3]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [4]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [5]:
count = 1
while count <=5:
  print(count)
  count +=1

1
2
3
4
5

In [6]:
n = 10
while n > 0:
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1

Function

In [7]:
def greet():
  print("Hello, world")

greet()

Hello, world

In [11]:
def add_numbers(a, b):
    return a+b

result = add_numbers(2, 3) #to store the result in variable
result

5

In [12]:
list = [10, 20, 30, 40]
print(list[0])
print(list[3])

10
40

Append

In [13]:
fruits = ["appple", "banana", "cheery"]
fruits.append("orange")
print(fruits)

['appple', 'banana', 'cheery', 'orange']

Dictionaries

In [14]:
person = {"name": "john", "age":30}
print(person["name"])
print(person["age"])

john
30

Tuples

In [15]:
coordinates = (10, 20)
print(coordinates[0])

10

In [16]:
person = ("Alice", 23)
name, age = person
print(name)
print(age)

Alice
23

Sets

In [21]:
unique_numbers = {1,2,3,4}
print(unique_numbers)

{1, 2, 3, 4}

In [20]:
unique_numbers.add(5)
print(unique_numbers)

{1, 2, 3, 4, 5}

{1, 2, 3, 4}